body{
    background-color: grey;
}

header {
    text-align: center;
    margin: 50px;
    color: white;
    font-family: comic;
}

main {
    display: grid;
    grid-template-rows: repeat(11, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0px 5px;
    margin: 25px;
}

img {
    width: 175px;
    border-radius: 10px
}

.grass {
    
}

@media only screen and (min-width: 450px) {
    header {
        text-align: unset;
        padding-left: 250px;
    }
    
    img {
        position: relative;
        width: 175px;
    }

    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        margin: 50px;
    }
}

@media only screen and (min-width: 900px) {
    header {
        text-align: unset;
        padding-left: 250px;
    }
    
    img {
        width: 220px;
    }

    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 5px;
        margin: 75px;
    }
}